button, input, textarea {
  border: 1px solid $color-font-bgm-second;
  box-sizing: border-box;
  background-color: $color-background-main;
  color: $color-font-bgm-main;
  margin: 2px;
  padding: 2px;
}