header {
  display: block;

  .logo, .title, .navigation {
    display: block;
    @include for-desktop-up {
      display: table-cell;
    }
  }

  .title {
    padding-right: 20px;
    text-align: center;

    .main {
      font-size: xxx-large;
      font-weight: bold;
    }
  }

  nav {
    display: flex;
    flex-flow: wrap;
    justify-content: center;

    @include for-desktop-up {
      justify-content: left;
    }

    .item {
      margin: 10px;
    }
  }
}