/**
 * Manage responsive
 */
.right-column.in-its-own-column {
  display: block;
  @include for-tablet-landscape-up {
    display: none;
  }
  @include for-desktop-up {
    display: table-cell;
  }
}

.right-column.in-left-column {
  display: none;

  @include for-tablet-landscape-up {
    display : block;
  }

  @include for-desktop-up {
    display: none;
  }
}
