{% extends 'layout/three-columns.html.twig' %}

{% block body %}
    <div class="admin-path-edit">
        {% if path is not null %}
            <h1>{% trans %}Path edition:{% endtrans%} {{ path.title }}</h1>
        {% else %}
            <h1>{% trans %}Path creation{% endtrans %}</h1>
        {% endif %}
        {{ form(form) }}
    </div>
{% endblock %}