<div class="logo"></div>
<div class="title">
    <div class="main">Spyzone</div>
    <div class="sub">{% trans %}Spydemon personal blog{% endtrans %}</div>
</div>
<div class="navigation">
    <nav>
        <div class="item">
            {% trans %}Home{% endtrans %}
        </div>
        <div class="item">
            {% trans %}Magento{% endtrans %}
        </div>
        <div class="item">
            {% trans %}Symfony{% endtrans %}
        </div>
        <div class="item">
            {% trans %}Whatever…{% endtrans %}
        </div>
        {% if user_admin%}
            <div class="item admin">
                <a href="{{ path('back_dashboard') }}">{% trans %}Admin{% endtrans %}</a>
            </div>
        {% endif %}
        {% if user_authenticated %}
            <div class="item logout">
                <a href="{{ path('front_security_logout') }}">{% trans %}Logout{% endtrans %}</a>
            </div>
        {% endif %}
        {% for variant in translated_variants %}
            <div class="item lang">
                [<a href="{{ variant.url }}">{{ variant.locale }}</a>]
            </div>
        {% endfor %}
    </nav>
</div>