<div class="newsletter info-block">
    <p>{% trans %}Feel free to subscribe to my (currently) useless mailing list!{% endtrans %}</p>
    <input type="email" placeholder="{% trans %}Your email address{% endtrans %}" /><br />
    <button type="submit">{% trans %}Subscribe!{% endtrans %}</button>
</div>
