<div class="newsletter">
    <p>Feel free to subscribe to my (currently) useless mailing list!</p>
    <input type="email" placeholder="Your email address" /><br />
    <button type="submit">Subscribe!</button>
</div>
