.three-columns {
  /**
  * Handle the position of left column, right column and the main content.
  */
  .left-column, .main-content, .right-column {
    display: block;

    @include for-tablet-landscape-up {
      display: table-cell;
      vertical-align: top;
    }
  }

  .left-column, .right-column {
    @include for-tablet-landscape-up {
      max-width: 350px;
      min-width: 350px;
    }
  }

  .main-content {
    @include for-tablet-landscape-up {
      width: 100%;
    }
  }
}