{% extends 'layout/three-columns.html.twig' %}

{% block title %}{% trans %}Login{% endtrans %}{% endblock %}

{% block body %}
    <form class="login-form" method="post">
        <h1>{% trans %}Connection{% endtrans %}</h1>
        <label for="inputEmail">{% trans %}Email{% endtrans %}</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        <label for="inputPassword">{% trans %}Password{% endtrans %}</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        #}
        <button type="submit">
            {% trans %}Sign in{% endtrans %}
        </button>
    </form>
{% endblock %}

