/**
 * Set page colors
 */

$color-background-main: #072121;
$color-background-second: #824C71;
$color-font-bgm-main: #7FB285;
$color-font-bgm-second: #F5DBCB;
$color-font-bgs-main: #072121;

header, .notification, .left-column, .main-content, .right-column {
  background-color: $color-background-main;
  color: $color-font-bgm-main;
}

body {
  background-color: $color-background-second;
  color: $color-font-bgs-main;
  font-family: 'Raleway', sans-serif;
}

a {
  color: $color-font-bgm-main;
}

/**
 * Set page margins and paddings
 */

$default-padding-horizontal: 10px;

body {
  margin: 0;
  padding: 0;
  @include for-wide-desktop-up {
    margin: auto;
    width : 2000px;
  }
}

body > * {
  padding: $default-padding-horizontal;
}

div {
  margin: 0;
}

h1 {
  margin: 0 0 10px;
}

ul {
  margin: 0;
}

/**
 * Handle the position of left column, right column and the main content.
 */

.left-column, .main-content, .right-column {
  display: table-cell;
}

.left-column, .right-column {
  max-width: 350px;
  min-width: 350px;
}

.main-content {
  width: 100%;
}