/**
 * Set page colors
 */

$color-background-main: #072121;
$color-background-second: #824C71;
$color-font-bgm-main: #7FB285;
$color-font-bgm-second: #F5DBCB;
$color-font-bgs-main: #072121;

header, .notification, .left-column, .main-content, .right-column {
  background-color: $color-background-main;
  color: $color-font-bgm-main;
}

body {
  background-color: $color-background-second;
  color: $color-font-bgs-main;
  font-family: 'Raleway', sans-serif;
}

a {
  color: $color-font-bgm-main;
}

article {
  overflow: auto;
}

blockquote {
  border-left: 5px $color-font-bgm-main solid;
  font-style: italic;
  padding-left: 5px;
}

figure {
  margin: 0;
  @include for-tablet-portrait-up {
    margin: 10px;
  }

  figcaption {
    border-left: 5px $color-font-bgm-main solid;
    margin-left: 15px;
    margin-top: -4px;
    padding-left: 5px;
    padding-top: 4px;
  }

  img {
    width: 100%;

    @include for-tablet-portrait-up {
      width: unset;
    }
  }
}

figure.position-left {
  @include for-tablet-portrait-up {
    float: left;
  }
}

figure.position-center {
  margin: auto;
  @include for-tablet-portrait-up {
    width: max-content;
  }
}

figure.position-right {
  @include for-tablet-portrait-up {
    float: right;
  }
}

p {
  text-align: justify;
}

table {
  width: 100%;
}

th {
  font-weight: bold;
  text-align: left;
}

// TODO: to set in the future light theme.
//.reverse-color-on-light-theme img {
//  filter: invert(100%);
//}

/**
 * Set page margins and paddings
 */

$default-padding-horizontal: 10px;

body {
  margin: 0;
  padding: 0;
  @include for-wide-desktop-up {
    margin: auto;
    width : 2000px;
  }
}

body > * > * {
  padding: $default-padding-horizontal;
}

div {
  margin: 0;
}

h1 {
  margin: 0 0 10px;
  text-align: center;

  @include for-tablet-landscape-up {
    text-align: left;
  }
}

ul {
  margin: 0;
}