{% extends 'layout/three-columns.html.twig' %}

{% block body %}
    <div class="admin-media-edit">
        <h1>{% trans %}Add a new media{% endtrans %}</h1>
        <h2>{% trans %}Image{% endtrans %}</h2>
        {{ form(form) }}
    </div>
{% endblock %}
