
{% extends 'layout/three-columns.html.twig' %}

{% block body %}
    <h1>{% trans %}Medias{% endtrans %}</h1>
    <ul>
        <li>
            <a href="{{ path('admin_path_edit') }}">
                {% trans %}Add a new image{% endtrans %}
            </a>
        </li>
    </ul>
{% endblock %}
