{% extends 'base.html.twig' %}

{% block main_content %}
    <div class="notification">
        {% block notification %}
            {{ render(controller( 'App\\Controller\\Fragment\\Notification::display')) }}
        {% endblock %}
    </div>
    <div class="left-column">
        {% block left_column %}
            <ul>
                <li>Installation</li>
                <li>
                    <ul>
                        <li>Docker configuration</li>
                        <li>Composer use</li>
                        <li>Magento configuration</li>
                    </ul>
                </li>
                <li>Use of the CMS</li>
                <li>
                    <ul>
                        <li>All about customers</li>
                        <li>Product configuration</li>
                    </ul>
                </li>
                <li>Module creation</li>
                <li>Front modifications</li>
                <li>etc.</li>
            </ul>
        {% endblock %}
        <div class="right-column in-left-column">
            {{ render(controller( 'App\\Controller\\Fragment\\RightColumn::display')) }}
        </div>
    </div>
    <div class="main-content">
        {% block body %}{% endblock %}
    </div>
    <div class="right-column in-its-own-column">
        {{ render(controller( 'App\\Controller\\Fragment\\RightColumn::display')) }}
    </div>
{% endblock %}